body {
    background-color: #4b2447;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


#canvas-wrapper {
    width: 800px; 
    height: 600px; 
}

canvas {
    background-color: transparent; 
    border-style: double;
}